<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
    {{> input title="Nachricht an Ticket-Ersteller" id="abortText"}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
    {{> button title="Aufgabe abbrechen" onclick="abortContract()" additionalclass="button-center"}}
</div>