<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 attachments">
    <span class="mdc-typography--subtitle1">
        Angehangene Dokumente
    </span>
    <ul class="mdc-list mdc-layout-grid__cell mdc-layout-grid__cell--span-12 attachment-list">
    </ul>
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 button-cell">
    {{> button title="Neue Akte erstellen" onclick="showCreateDossier()"}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 button-cell">
    {{> button title="Mit Akte verknüpfen" onclick="showAttachDossier()"}}
</div>