<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.responsiblePerson.caption value=task.responsiblePerson.values.[0] id="responsiblePerson" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.position.caption value=task.position.values.[0] id="position" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.company.caption value=task.company.values.[0] id="company" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.salesArea.caption value=task.salesArea.values.[0] id="salesArea" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.department.caption value=task.department.values.[0] id="department" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.customer.caption value=task.customer.values.[0] id="customer" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.startOfContract.caption value=task.startOfContract.values.[0] id="startOfContract" disabled=true date=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
</div>

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    {{> inputTextarea title=task.contractualRelation.caption value=task.contractualRelation.values.[0] id="contractualRelation" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    {{> inputTextarea title=task.targetBusiness.caption value=task.targetBusiness.values.[0] id="targetBusiness" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    {{> inputTextarea title=task.risks.caption value=task.risks.values.[0] id="risks" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    {{> inputTextarea title=task.notes.caption value=task.notes.values.[0] id="notes" disabled=true}}
</div>