<!-- TODO: Add additional buttons for cs -->

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> checkbox title=task.isSubleasing.caption value=task.isSubleasing.values.[0] id="isSubleasing"}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> checkbox title=task.hasChangesSubleasing.caption value=task.hasChangesSubleasing.values.[0] id="hasChangesSubleasing"}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> checkbox title=task.isOfficeSpace.caption value=task.isOfficeSpace.values.[0] id="isOfficeSpace"}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> checkbox title=task.isParkingSpace.caption value=task.isParkingSpace.values.[0] id="isParkingSpace"}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> checkbox title=task.isAdditionalContract.caption value=task.isAdditionalContract.values.[0] id="isAdditionalContract"}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
</div>

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.rentalObject.caption value=task.rentalObject.values.[0] id="rentalObject" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.desiredStartOfRental.caption value=task.desiredStartOfRental.values.[0] id="desiredStartOfRental" disabled=true date=true}}
</div>

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.contractResponsiblePerson.caption value=task.contractResponsiblePerson.values.[0] id="contractResponsiblePerson" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.position.caption value=task.position.values.[0] id="position" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.company.caption value=task.company.values.[0] id="company" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.salesArea.caption value=task.salesArea.values.[0] id="salesArea" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.department.caption value=task.department.values.[0] id="department" disabled=true}}
</div>

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
</div>

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.contractPartner.caption value=task.contractPartner.values.[0] id="contractPartner" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.administrator.caption value=task.administrator.values.[0] id="administrator" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.partnerContact.caption value=task.partnerContact.values.[0] id="partnerContact" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.partnerPhone.caption value=task.partnerPhone.values.[0] id="partnerPhone" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.partnerMobile.caption value=task.partnerMobile.values.[0] id="partnerMobile" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.partnerMail.caption value=task.partnerMail.values.[0] id="partnerMail" disabled=true}}
</div>

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.authorizedPerson1.caption value=task.authorizedPerson1.values.[0] id="authorizedPerson1" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.authorizedPerson1Position.caption value=task.authorizedPerson1Position.values.[0] id="authorizedPerson1Position" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.authorizedPerson2.caption value=task.authorizedPerson2.values.[0] id="authorizedPerson2" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.authorizedPerson2Position.caption value=task.authorizedPerson2Position.values.[0] id="authorizedPerson2Position" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.authorizedPerson3.caption value=task.authorizedPerson3.values.[0] id="authorizedPerson3" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.authorizedPerson3Position.caption value=task.authorizedPerson3Position.values.[0] id="authorizedPerson3Position" disabled=true}}
</div>

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    {{> inputTextarea title=task.notes.caption value=task.notes.values.[0] value2=task.notes2.values.[0] value3=task.notes3.values.[0] value4=task.notes4.values.[0]  id="notes" disabled=true}}
</div>