<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> checkbox title=task.isSubleaseAgreement.caption value=task.isSubleaseAgreement.values.[0] id="isSubleaseAgreement"}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> checkbox title=task.hasChanges.caption value=task.hasChanges.values.[0] id="hasChanges"}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> checkbox title=task.isRentalOffice.caption value=task.isRentalOffice.values.[0] id="isRentalOffice"}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> checkbox title=task.isRentalParking.caption value=task.isRentalParking.values.[0] id="isRentalParking"}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> checkbox title=task.isAdditional.caption value=task.isAdditional.values.[0] id="isAdditional"}}
</div>

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
</div>

<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.rentalObjectAddress.caption value=task.rentalObjectAddress.values.[0] id="rentalObjectAddress" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.desiredRentalStart.caption value=task.desiredRentalStart.values.[0] id="desiredRentalStart" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.responsiblePerson.caption value=task.responsiblePerson.values.[0] id="responsiblePerson" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.contractPartner.caption value=task.contractPartner.values.[0] id="contractPartner" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.administrator.caption value=task.administrator.values.[0] id="administrator" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.commercialContact.caption value=task.commercialContact.values.[0] id="commercialContact" disabled=true}}
</div>
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
    {{> input title=task.comments.caption value=task.comments.values.[0] id="comments" disabled=true}}
</div>
