<body>
   <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
         <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <h1 class="mdc-typography--headline6 task-headline">
               {{task.subject}}
            </h1>
         </div>
         {{#eq task.metadata.contractType.values.[0] "rentalContract"}}
            {{> abortContract}}
            {{> rentalContract task=task.metadata}}
         {{/eq}}
         {{#eq task.metadata.contractType.values.[0] "supplierContract"}}
            {{> abortContract}}
            {{> supplierContract task=task.metadata}}
         {{/eq}}
         {{#eq task.metadata.contractType.values.[0] "customerContractDefaultDocuments"}}
            {{> customerContractDefaultDocuments task=task.metadata}}
         {{/eq}}
         {{#eq task.metadata.contractType.values.[0] "customerContract"}}
            {{> customerContract task=task.metadata subject=task.subject}}
         {{/eq}}
         {{> attachments}}
         {{#isContract task.metadata.contractType.values.[0]}}
            {{> createContract task=task.metadata}}
            {{> attachContract}}
            {{else}}
               {{> createCase}}
               {{> attachCase}}
         {{/isContract}}
      </div>
   </div>
   {{> snackbar }}
   {{> dialog question="Wollen Sie die ausgewählten Dokumente wirklich verknüpfen?" id="attach-dialog"}}
   {{> dialog question="Wollen Sie diese Akte wirklich erstellen?" id="create-dialog"}}
   {{> dialog question="Wollen Sie die Aufgabe wirklich abbrechen?" id="abort-dialog"}}
   <span id="data-container" data-id="{{metaData}}" data-task="{{taskString}}"></span>
</body>

</html>